* {
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
  font-family: Inter;
  margin: 0;
  padding: 2rem;
}

main {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 800px;
  padding: 2rem;
}

main > h1 {
  font-family: Karla, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
}

main > p {
  color: #4a4e74;
  font-size: 1rem;
  margin-bottom: 25px;
}

main > button {
  background-color: #5035ff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-family: Karla, sans-serif;
  font-size: 1rem;
  padding: 15px 40px;
}

main > button:active {
  box-shadow: none;
}

.dice-container {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 25px;
}

.die-face {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: Karla, sans-serif;
  font-size: 1.25rem;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
  padding: 8px 14px;
  text-align: center;
}
